# Lab Task 01

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [4]:
# Given:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

# Expected Output:
# Given list: [10, 20, 30, 40, 10]
# result is True

# numbers_y = [75, 65, 35, 75, 30]
# result is False
if (numbers_x[-1] == numbers_y[-1]) and(numbers_x[0] == numbers_y[0]) :
    print('result is true')
else:
    print('result is false')

result is false





# Lab Task 02

Create two NumPy arrays of the same shape and perform element-wise addition on them.

Calculate the element-wise product of two NumPy arrays.

In [7]:
#code here
import numpy as np

l1 = np.array([1,2,3,4,5])
l2 = np.array([1,2,3,4,5])
l3 = l1+l2
l3

array([ 2,  4,  6,  8, 10])

# Lab Task 03

Reshape a 1D NumPy array into a 2D array with dimensions (3, 4).

Concatenate two NumPy arrays horizontally and vertically.

In [6]:
#code here
l4 = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
l4 = np.reshape(l4,(3,4))
l4

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

# Lab Task 04


## Online Store Shopping Cart
Write a Python program to simulate the online store's shopping cart system. The program should use a while loop to provide an interactive shopping experience.


### Tasks:
* Initialize an empty list called shopping_cart to store items.
* Display a welcome message and available products.
* Loop should be iterating over AI Response Simulator and Investment decision and keep asking for user input.
* Prompt the user to enter the number corresponding to the product they want to add to the cart.
* Check if the user entered 'q'. If so, break the loop.
* Convert the choice to an integer and validate it within the valid range (1 to 3).
* Based on the user's choice, add the selected product to the shopping_cart list.
* Display a confirmation message indicating the added product.
* Continue the loop to allow the user to add more products or proceed to checkout.
* After the loop ends, display the contents of the shopping cart.
* Display a goodbye message.
* End the program.

In [26]:
#Code here
shopping_cart = []
dic = {
    '1' : 'Aloo',
    '2' : 'tamatar',
    '3' : 'teenday',
    '4' : 'gajar'
}
while True:
    print('Welcome Sir/Madam what would you like')
    for i,j in dic.items():
        print(i+" "+j)
    user_choice = ''

    user_choice = input("Enter Choice between 1 and 4 to quit press q or Q   : ")
    user_choice = user_choice.lower()
    while (user_choice != '1') or (user_choice != '2') or (user_choice != '3') or (user_choice != '4'):
        user_choice = input("Enter Choice between 1 and 4 to quit press q or Q  ")
        user_choice = user_choice.lower()
        if user_choice == 'q':
            break
        elif (user_choice == '1') or (user_choice == '2') or (user_choice == '3') or (user_choice == '4'): 
            shopping_cart.append(dic[user_choice])
            print("product added ")
        else: 
            continue
    else:
        shopping_cart.append(dic[user_choice])
        print("product added ")
    if user_choice == 'q':
        break
        ii
print('Your Items ', shopping_cart )
print( 'Bye bye ')

Welcome Sir/Madam what would you like
1 Aloo
2 tamatar
3 teenday
4 gajar
Enter Choice between 1 and 4 to quit press q or Q   : -
Enter Choice between 1 and 4 to quit press q or Q  -
Enter Choice between 1 and 4 to quit press q or Q  0
Enter Choice between 1 and 4 to quit press q or Q  1
product added
Enter Choice between 1 and 4 to quit press q or Q  3
product added
Enter Choice between 1 and 4 to quit press q or Q  q
Your Items  ['Aloo', 'teenday']
Bye bye

# Lab Task 05


## Email Classification
Develope a tool which will classify an email.

### Tasks:
* Create a function classify_emails that takes a list of emails as an argument.
* Inside the function, categorize emails into "Important," "Promotions," and "Spam" based on keywords and content analysis.
* Loop through the emails and identify keywords to determine their category.
* If an email contains keywords indicating importance, assign it as "Important."
* If an email contains keywords related to promotions or deals, assign it as "Promotions."
* If an email is suspected to be spam based on certain keywords or patterns, assign it as "Spam."
* Return three lists of emails for each category.
* Print the lists.

In [31]:
#code here

# Confidential
# Insider
# VIP
# Secret


emails = ['Urgent meeting tomorrow', 'Big sale on all items','Big sale tomorrow']
for  i in emails:
    i = i.lower()
    if  ('promotion' in i) or ('ad' in i) or ('billboard' in i) or ('marketing' in i)or ('sale' in i) or ('brand' in i) or ('adverts' in i) or ('graphic design' in i) or ('target ad' in i) or ('campaign' in i) or ('marketing strategy' in i) or ('advertisements' in i) or ('marketing plan' in i) or ('classified ads' in i) or ('advertise' in i) or ('advertising agency' in i) or ('the advertiser' in i) or ('free ads' in i) or ('facebook advertising' in i) or ('direct marketing' in i) or ('publicity' in i) or ('print ads' in i):
        print(str(i)+'  is promotional' )
    elif ('confidential' in i) or ('insider' in i) or ('VIP' in i) or ('secret' in i) or ('important' in i) or ('urgent' in i):
        print(str(i)+' email is important')
    elif ('act now' in i) or ('apply now' in i) or ('become a member' in i) or ('call now' in i) or ('click below' in i) or ('click here' in i) or ('get it now' in i) or ('do it today' in i) or ('don’t delete' in i) or ('exclusive deal' in i) or ('get started now' in i) or ('important information regarding' in i) or ('information you requested' in i) or ('instant' in i) or ('limited time' in i) or ('new customers only' in i) or ('order now' in i) or ('please read' in i) or ('see for yourself' in i) or ('sign up free' in i) or ('take action' in i) or ('this won’t last' in i) or ('urgent' in i) or ('what are you waiting for?' in i) or ('while supplies last' in i) or ('will not believe your eyes' in i) or ('winner' in i) or ('winning' in i) or ('you are a winner' in i) or ('you have been selected' in i):
        print(str(i)+' email is spam')

urgent meeting tomorrow email is important
big sale on all items  is promotional
big sale tomorrow  is promotional

# Lab Task 06

## English-Spanish Dictionary
You are creating a basic English-Spanish dictionary that allows users to look up English words and find their Spanish translations.


### Tasks
* Create a dictionary where English words are keys and their Spanish translations are values.
* Ask the user to input an English word.
* Check if the word exists in the dictionary.
* If the word exists, print its Spanish translation.
* If the word does not exist, inform the user that the translation is not available.
* Implement a loop that allows the user to keep looking up words until they choose to exit.

In [39]:
#code here
dic1 = {
   'he'  : "él",
    'is' :'esta',
    'here' : 'aqui',
    'hat' :'sombrero',
    'woman' : 'mujer',
    'man': 'hombre',
    'boy' :'nino',
    "girl" : 'nina'
}

user = input('ENter an english word ' )
user = user.lower()

try:
    
    print(dic1[user])
except KeyError:
    print('word not in dictionary')

ENter an english word he
él

# Lab Task 07

dataset link : https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv
#Exercise
Use the dataset of Game, we have explored earlier and perform following operations.

* Calculate the total global sales for all games in the dataset.
* Find the game with the highest global sales.
* Determine the average sales for each region (NA_Sales, EU_Sales, JP_Sales, Other_Sales).
* Find the top 5 most popular game genres based on global sales.
* Calculate the total sales for each genre in each region and find the most popular genre in North America (NA_Sales).
* Display last 10 rows.
* Determine the top 3 gaming platforms with the highest global sales.
* Calculate the market share (percentage of global sales) for each genre.
* Calculate the correlation coefficient between NA_Sales and EU_Sales. (.corr function)

In [43]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/TirendazAcademy/PANDAS-TUTORIAL/main/DataSets/vgsalesGlobale.csv',index_col='Rank')

In [44]:
df

                                                   Name Platform    Year  ... JP_Sales Other_Sales  Global_Sales
Rank                                                                      ...
1                                            Wii Sports      Wii  2006.0  ...     3.77        8.46         82.74
2                                     Super Mario Bros.      NES  1985.0  ...     6.81        0.77         40.24
3                                        Mario Kart Wii      Wii  2008.0  ...     3.79        3.31         35.82
4                                     Wii Sports Resort      Wii  2009.0  ...     3.28        2.96         33.00
5                              Pokemon Red/Pokemon Blue       GB  1996.0  ...    10.22        1.00         31.37
...                                                 ...      ...     ...  ...      ...         ...           ...
16596                Woody Woodpecker in Crazy Castle 5      GBA  2002.0  ...     0.00        0.00          0.01
16597                     Men in Black II: Alien Escape       GC  2003.0  ...     0.00        0.00          0.01
16598  SCORE International Baja 1000: The Official Game      PS2  2008.0  ...     0.00        0.00          0.01
16599                                        Know How 2       DS  2010.0  ...     0.00        0.00          0.01
16600                                  Spirits & Spells      GBA  2003.0  ...     0.00        0.00          0.01

[16598 rows x 10 columns]

In [45]:
df['Global_Sales'].sum()

8920.44

In [51]:
maxi = df['Global_Sales'].max()
df[df['Global_Sales'] == maxi]['Name']

Rank
1    Wii Sports
Name: Name, dtype: object

In [52]:
df['EU_Sales'].mean()

0.14665200626581515

In [53]:
df['JP_Sales'].mean()

0.077781660441017

In [55]:
df['NA_Sales'].mean()

0.26466742981082064

In [57]:
df['Other_Sales'].mean()

0.0480630196409206

In [61]:
top5 = df['Genre'].value_counts()
top5[:5]

Action          3316
Sports          2346
Misc            1739
Role-Playing    1488
Shooter         1310
Name: Genre, dtype: int64

In [62]:
df.tail(10)

                                                    Name Platform    Year  ... JP_Sales Other_Sales  Global_Sales
Rank                                                                       ...
16591                                   Mega Brain Boost       DS  2008.0  ...     0.00         0.0          0.01
16592  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...      PSV  2016.0  ...     0.01         0.0          0.01
16593  Eiyuu Densetsu: Sora no Kiseki Material Collec...      PSP  2007.0  ...     0.01         0.0          0.01
16594                                Myst IV: Revelation       PC  2004.0  ...     0.00         0.0          0.01
16595                                           Plushees       DS  2008.0  ...     0.00         0.0          0.01
16596                 Woody Woodpecker in Crazy Castle 5      GBA  2002.0  ...     0.00         0.0          0.01
16597                      Men in Black II: Alien Escape       GC  2003.0  ...     0.00         0.0          0.01
16598   SCORE International Baja 1000: The Official Game      PS2  2008.0  ...     0.00         0.0          0.01
16599                                         Know How 2       DS  2010.0  ...     0.00         0.0          0.01
16600                                   Spirits & Spells      GBA  2003.0  ...     0.00         0.0          0.01

[10 rows x 10 columns]

In [71]:
df1 = df.groupby('Genre')

df2 = df1.get_group("Puzzle")
df2['Global_Sales'].sum()/maxi

2.9604786076867295

In [74]:
genres  = df['Genre'].unique()
genres

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [76]:
for i in genres:
    df2 = df1.get_group(i)
    print(i, '  ',df2['Global_Sales'].sum()/maxi)

Sports    16.085690113608898
Platform    10.047981629199905
Racing    8.847474014986705
Role-Playing    11.208242687938121
Puzzle    2.9604786076867295
Misc    9.789219240995893
Shooter    12.537708484408995
Simulation    4.740149867053422
Action    21.16485375876239
Fighting    5.425549915397632
Adventure    2.889050036258158
Strategy    2.1165095479816296

In [97]:
platforms = df['Platform'].unique()
# print(platforms)
plat = df.groupby('Platform')
for i in range(3):
    df2= plat.get_group(platforms[i])
    print(platforms[i],' ' ,df2['Global_Sales'].max())

Wii   82.74
NES   40.24
GB   31.37

In [98]:
df['EU_Sales'].corr(df['NA_Sales'])

0.7677267483702636

In [107]:
dff = df.groupby('Genre',sort=True)
genre = dff.get_group('Sports').sum(numeric_only=True)
genre

Year            4620621.00
NA_Sales            683.35
EU_Sales            376.85
JP_Sales            135.37
Other_Sales         134.97
Global_Sales       1330.93
dtype: float64

In [105]:
genre['NA_Sales'].nlargest(3)

Rank
1     41.49
4     15.75
15     9.09
Name: NA_Sales, dtype: float64